<?xml version="1.0"?>
<robot>

 <material name="black">
    <color rgba="0 0 0 1"/>
  </material>

  <material name="yellow">
    <color rgba="1 1 0 1"/>
  </material>

  <material name="green">
    <color rgba="0 0.5 0 1"/>
  </material>

  <material name="silver">
    <color rgba="0.75 0.75 0.75 1"/>
  </material>
  <material name="rubber">
    <color rgba="0.15 0.15 0.15 1"/>
  </material>

</robot>
